/*flexbox for center element in middle of page*/
main {
  @include center;
  min-height: 100vh;

  /*grid for separate the 2 containers*/
  .container {
    display: grid;
    grid-template-columns: 350px 540px;
    column-gap: 30px;
    position: absolute;

    /*media querie*/
    @media screen and (max-width: 950px) {
      display: block;
    }
    /*setting left container*/
    .container-left {
      background: $Darkblue;
      height: 201px;
      border-radius: 10px 90px 10px 10px;
      padding: 42px 0 0 42px;

      .logo-fylo {
        background-image: url(../../images/logo.svg);
        background-repeat: no-repeat;
        height: 40px;
        width: 155px;
      }

      /*align 3 icones with flex*/
      .icons {
        display: flex;
        flex-direction: row;
        margin: 34px 0 0 0;

        /*create $verydarkblue square, center icons with flexbox*/
        li {
          background: $Verydarkblue;
          border-radius: 6px;
          width: 48px;
          height: 48px;
          @include center;
          margin-right: 16px;
        }
      }
    }
    /*setting right container*/
    .container-right {
      background: $Darkblue;
      height: 154px;
      margin: 47px 0 0 0;
      border-radius: 10px;
      padding: 0 0 0 39px;


      .container-absolute {
        background: rgb(255, 255, 255);
        position: relative;
        color: black;
        width: 179px;
        height: 72px;
        border-radius: 7px 7px 0px 7px;
        padding: 16px 15px 15px 21px;
        top: -47px;
        transform: translatex(321px);

        /*set triangle rectangle with after*/
        &:after {
          content: "";
          width: 0;
          height: 0;
          border-top: 22px solid rgb(255, 255, 255);
          border-left: 22px solid transparent;
          position: relative;
          left: 75.8px;
          bottom: -36px;
        }
        /*center text inside with grid*/
        .container-flex {
          display: grid;
          grid-template-columns: 50% 50%;
          grid-template-rows: 42px;
          align-items: center;
          justify-items: start;

          h1 {
            font-size: 2rem;
          }

          p {
            text-transform: uppercase;
            font-size: 0.75rem;
            color: $Grayishblue;
            margin-top: 5px;
            font-weight: 700;
          }
        }
      }
      .container-grid {
        text-align: left;

      .bar-bleu {
        background:$Verydarkblue;
        border-radius: 10px;
        width: 458px;
        height: 20px;
        display: flex;
        align-items: center;

        .bar-degraded {
          background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
          border: 1px solid black;
          border-radius: 10px;
          width: 339px;
          height: 15px;  
          margin-left: 3px;
          display: flex;
          align-items: center;
          justify-content: flex-end;

        .circle {
          background: white;
          border-radius: 10px;
          width: 10px;
          height: 10px; 
          margin-right: 2px;
        }
        }
      }
      }
    }
  }
}
